{{ if eq .chezmoi.os "windows" -}}
["./AppData/Local/nvim"]
{{- else -}}
[".config/nvim"]
{{- end }}
    type = "git-repo"
    url = "https://github.com/mbaklor/nvim"

{{ if ne .chezmoi.os "windows" -}}
[".config/zsh/zsh-autosuggestions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-autosuggestions"
    refreshPeriod = "168h"
{{ end }}
