{{ if eq .chezmoi.os "windows" -}}
["./AppData/Local/nvim"]
{{end -}}
{{ if eq .chezmoi.os "linux" -}}
[".config/nvim"]
{{end -}}
    type = "git-repo"
    url = "https://github.com/mbaklor/nvim"

{{ if eq .chezmoi.os "linux" -}}
[".config/zsh/zsh-autosuggestions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-autosuggestions"
    refreshPeriod = "168h"
{{ end }}
