{{ if eq .chezmoi.os "linux" -}}
#!{{ .bash }}

{{ if and (hasKey .chezmoi "osRelease") (eq .chezmoi.osRelease.id "fedora") -}}
{{ range .packages.linux.copr -}}
sudo dnf copr enable -y {{ . }}
{{ end }}
{{ end }}

{{ if and (hasKey .chezmoi "osRelease") (eq .chezmoi.osRelease.variantID "kde") -}}
kwriteconfig6 --file kglobalshortcutsrc --group services --group org.wezfurlong.wezterm.desktop --key _launch 'Meta+`'
{{ end }}
chsh -s /usr/bin/zsh
{{ end }}
