{{ if eq .chezmoi.os "windows" -}}

{{ range .packages.windows.scoop.buckets -}}
scoop bucket add {{ . }} & ^
{{- end -}}
{{ range $i, $v := .packages.windows.scoop.apps -}}
{{if $i}} & ^{{end}}
scoop install {{ $v }}
{{- end -}}
{{ end -}}
