{{ if eq .chezmoi.os "windows" -}}

{{ range .packages.windows.scoop.buckets -}}
scoop bucket add {{ . }} & ^
{{- end }}
scoop install {{- range .packages.windows.scoop.apps }} {{.}} {{- end }}
{{ end -}}
