@echo off
REM profile hash {{ include "readonly_Documents/PowerShell/Microsoft.PowerShell_profile.ps1" | sha256sum }}
REM zoxide hash {{ include "readonly_Documents/PowerShell/zoxide.ps1" | sha256sum }}
ECHO.
ECHO checking powershell profile location
ECHO.

setlocal enabledelayedexpansion
for /f "tokens=2* skip=2" %%a in ('reg query "HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders" /v personal') do (
    set same=0
    if /I NOT !USERPROFILE!\Documents==%%b (
        set same=1
    )

    if not !same!==1 (
        xcopy %USERPROFILE%\Documents\PowerShell\ %%b\Powershell\ /y
    )
)
